!! colorscheme
! special
*.foreground:       #ffffff
*.cursorColor:           #ffffff
*.background:       #010101
 
 
! 1st column (in neofetch color display)
*.color0:   #000000
*.color8:   #202020
 
! 2nd column
*.color1:   #6b6b6b
*.color9:   #464646
 
! 3rd column
*.color2:   #c4c4c4
*.color10:  #f8f8f8
 
! 4th column
*.color3:   #b3b3b3
*.color11:  #eeeeee
 
! 5th column
*.color4:   #999999
*.color12:  #7c7c7c
 
! 6th column
*.color5:   #717171
*.color13:  #adadad
 
! 7th column
*.color6:   #888888
*.color14:  #c0c0c0
 
! 8th column
*.color7:   #b5cabb
*.color15:  #99ac9e
 
!! URxvt Appearance
URxvt.font: xft:Terminus (TTF):style=Regular:size=10
URxvt.boldFont: xft:Terminus (TTF):style=Bold:size=10
URxvt.italicFont: xft:Terminus (TTF):style=Italic:size=10
URxvt.boldItalicfont: xft:Terminus (TTF):style=Bold Italic:size=10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true

URxvt.transparent: true
URxvt.shading: 30
